version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/vivianstore_db
      SPRING_DATASOURCE_USERNAME: cheseh2005
      SPRING_DATASOURCE_PASSWORD: yourpassword
    depends_on:
      - db

  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_DATABASE: vivianstore_db
      MYSQL_USER: cheseh2005
      MYSQL_PASSWORD: yourpassword
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
